<!DOCTYPE html>
<html>
<head>
    <title>Cat Rank</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>CAT RANK</h1>
    <div class="cat-container">
		{{range $index, $cat := .}}
		<div class="cat-item">
            <p class="votes">{{$cat.Votes}}</p>
			<img src="{{$cat.ImageURL}}" alt="{{$cat.Name}}">
			<h2>{{$cat.Name}}</h2>
			<form method="POST" action="/">
				<input type="hidden" name="cat" value="{{$index}}">
				<button type="submit">Vote</button>
			</form>
		</div>
		{{end}}
	</div>
</body>
</html>

